@import 'blocks';
@mixin theme ($theme: $color-02, $bg: $color-03) {
    background-color: $bg;
    border: 1px solid $theme;
    box-shadow: 0 0 1px rgba($color-default, .25);
}

.cars {
    @extend %blocks;
    h2 {
        color: $color-02;
    }
    .destack {
        @include theme;
    }
    li {
        @include theme($theme: $color-default, $bg: $bg-color);
        color: $color-04;
        display: flex;
        float: left;
        height: max-content;
        justify-content: center;
        align-items: baseline;
        flex-flow: column;


        a {
            background-color: $color-default;
        }
    }
}